<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/estilos.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
</head>

<body>

<headder>    
    <img src="/img/logo-mercado-liebre.jpg" alt="Tu imagen de practica" width="800px">


    <P>Lugar para poner barra de busqueda</P>
    <article><h2>Comprá en cuotas y sin tarjeta de crédito</h2></article>

<nav>
    <ul>
        <li><a href="ofertas.html">Ofertas</a></li>
        <li><a href="#">Tiendas oficiales</a></li> 
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        <br>
        <li><a href="#">Creá tu cuenta</a></li>
        <li><a href="#">Ingresa</a></li>
        <li><a href="#">Mis compras</a></li>
    </ul>
</nav>

<section>
    <article>
        <img src="/img/img-home-banner.jpg" alt="img-home-banner" width="100%">
    </article>
</section>

</headder>

      <section>  
        <h2>Basado en tu ultima visita</h2>            

            <img src="/img/img-cafetera-moulinex.jpg" alt="imagen cafetera" width="400px">
            <h4>$6.770</h4>
            <h4>40% OFF</h4>
            <h4>Cafetera Moulinex</h4>
            <br>

            <img src="/img/img-macbook-pro-2019.jpg"alt="imagen macboock" width="400px">
            <h4>$230.000</h4>
            <h4>20% off</h4>
            <h4>MacBook Pro 2019</h4>
            <br>
            <br>

            <img src="/img/img-samsung-galaxy-s10.jpg"alt="imagen del Samsung Galaxy" width="400px">
            <h4>$70.500</h4>
            <h4>10% off</h4>
            <h4>Samsung Galaxy S10</h4>
            <br>

            <img src="/img/img-tv-samsung-smart.jpg"alt="imagen del SmartTv" width="400px">
            <h4>$23.200</h4>
            <h4>5% off</h4>
            <h4>SmartTv Samsung 43"</h4>
        </section>      
</body>

<br>

<footer>
    <Section>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </Section>
    <section>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>            
    </section>
    <section>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </section>
    <section>
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </section>

</footer>    

</html>