<!DOCTYPE html>
<html lang="en">

<head>
    <!-- styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/estilos.css" rel="stylesheet">
    <link href="/css/registerLoginStyles.css" rel="stylesheet">




    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    
    <header class="main-header">


        <div class="headerLogoSearch">
            <!--main header botom bar -->

            <div class="logo">
                <img src="/img/logo-mercado-liebre.svg" alt="Tu imagen de practica">
            </div>



            <div id="searching">

                <div class="form" action="#" method="GET">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>

            </div>

            

            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
           


        </div>




        <nav class="main-navBar">

            <ul class="left-navBar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="rigth-Bar">
                <li><a href="/register.html">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="/login.html">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-bag"></i></a></li>
            </ul>



        </nav>

        <div class="burger-menu">
            <input type="checkbox" id="check">
            <label for="check" class="b-menu">
                <i class="fas fa-bars"></i>
            </label>
            <nav>
                <ul class="compra">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="cuenta">
                    <li><a href="/register.html">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                    <li><a href="/login.html">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>

        </div>


    </header>

   

    <main>
        <form class="login" action="/" method="GET">

            <section class="datos-usuario">
                <input type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Nombre deusuario"
                    minlength="6" required>
            </section>

            <section class="password">
                <input type="password" name="contraseña" id="password" placeholder="Password" minlength="8" required>
            </section>


            <div class="button">
                <button href="/" type="send" id="button">Enviar</button>
            </div>
        </form>
    </main>




</body>


<footer>

    <div id="final">

        <div class="tarjetea">
            <i id="imgFoot" class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div>
            <i id="imgFoot" class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div>
            <i id="imgFoot" class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>


        <br>


    </div>

    <div id="copyR">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>



</footer>

</html>