body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

* {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav li {
    display: none;
}


#check {
    display: none;
}

#check:checked~nav li {
    display: block;
}

#description :first-child {
    display: block;

}

#description article:hover .productName {
    display: block;

}

#description article {
    display: none;
}

#description article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.copy-header {
    font-weight: 400;
    display: block;
    margin: auto;

}

.productName {
    margin-bottom: 1em;
}

.main-header {
    background-color: #EAC926;
    /* padding: 20px; */
}



.headerLogoSearch {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    height: 6%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}



header .headerLogoSearch .logo {
    width: 50%;
    width: 135px;
    padding: 10px 10px 10px 0px;
}

#searching {
    width: 50%;
    padding-left: 2%;
    padding-top: 20px;
    text-align: center;
    display: block;
    margin: auto;
    

}


#searching input {
    width: 50%;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}



#searching .form button {
    background-color: #FFF;
    border: 1px solid #FFF;
    outline: none;
    color: #666;
    border-radius: 5px;
    padding: 8px 6px;
    cursor: pointer;
}

#searching .form .submit {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 15%;
}




div.burger-menu {
    text-align: center;

}

div.burger-menu .cuenta i {
    color: #666;
    background-color: #EAC926; 
    font-size: 1.5em; 
}

div.burger-menu .compra li a{
    font-size: 1.5em;
    color: #666;
    
}
div.burger-menu .cuenta li a{
    font-size: 1.5em;
    color: #666;
    
}


div.burger-menu i {

    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

/**/




/*logo de lupa busqueda*/


#lastVisit {
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: #666;
    margin: 10px;
}


.offer {
    font-size: 24px;
}

.main-navBar {
    display: none;
    font-size: 2em;
    
}


.main-navBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}



.main-navBar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;

}

.burger-menu a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
}

.burger-menu .compra a{
    padding: 0.5em;   
}




#productImg {

    display: flex;
    justify-content: center;
}




#description {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



#description article {
    flex: 0 1 100%;
}

/*MOBILEEE
}*/


main #description #productImg img {
    width: 100%;
}

.precio {
    font-size: 18px;
    text-align: start;
    color: #666;
}

.productName {
    font-size: 16px;
    text-align: start;
    color: #666;
    margin-left: 10%;
    display: none;
}

.off {

    font-size: 16px;
    text-align: start;
    color: #39b54a;
}



main #boxDescript {
    border: 1px solid #ebebeb;
    background-color: white;
}

/*caja que contiene descricion de articlo y logo truck*/



main #description #boxDescript .priceOff {
    display: flex;
}


.priceOff {
    margin-left: 10%;
}


main #boxDescript .priceOff .precio {
    width: 30%;
}

main #boxDescript .priceOff .off {
    width: 70%;
}

#imgTruck:hover {

    transform: rotate(270deg);
    transition: 1s;
}

main #imgTruck {
    color: #39b54a;
    display: flex;
    justify-content: center;


}




main #description i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 85%;

    top: -15px;

}




#imgFoot {
    color: #0044AA;
    font-size: 2em;
    margin-top: 10px;
    justify-content: center;
}



#final i:hover{
    color:#EAC926;
    transition: 1s;
}

#copyR p {
    text-align: start;
    color: #666;
    background-color: #fff;
    border:1em;
    padding: 1em;

}


#final {

    text-align: center;
    background-color: white
}



footer div h3 {
    color: #666;

}

footer div p {
    color: #666;

}

/*parrafos finales debajo de cada titulo de iconos de tarjetas envios gratis y seguridad*/






/*tablets*/

@media(min-width:480px) {


    .main-navBar li {
        display: block;
    }

    .off {

        text-align: center;

    }


    .productName {

        display: block;
    }


    header .headerLogoSearch .logo {
        width: 50%;
        width: 150px;
        padding: 10px 10px 10px 0px;
    }

    .headerLogo search {

        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    #searching {
        width: 50%;
        padding-left: 2%;
        padding-top: 20px;
        text-align: center;
        align-items: center;


    }


    #searching input {
        width: 75%;
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        margin: 10px 0;
        padding: 10px;
    }



    .copy-header {
        font-size: 12px;
        max-width: 350px;
        text-align: right;
    }

    .burger-menu {
        display: none;
    }

    .main-navBar {
        display: flex;
        justify-content: space-between;
        padding: 0.5em;  
    }

    .main-navBar a {
        font-size: 12px; 
    }

    .main-navBar ul {
        display: flex;
        align-items: center;
    }

    .main-navBar li {
        margin: 0 5px;
        
    }

    .main-navBar i {
        padding: 0.5em;
    }

    #description article {
        display: block;
        flex: 0 0 calc(47% - 1em);
        padding: 10px;
        margin: 10px;
    }

    #description {
        justify-content: space-evenly;
    }

    .productName {
        margin-bottom: 1em;
    }

    #description :first-child {
        display: block
    }

  



}

/*desktop*/
@media(min-width:960px) {

    .headerLogoSearch .logo img{        
        width: 200px;
    }


    .productName {
        margin-bottom: 1em;
    }

    .main-navBar li {
        display: block;
    }

    .main-navBar i {
        padding: 0.5em;
    }

    .headerLogoSearch,
    .main-navBar {
        max-width: 1200px;
        margin: auto;
        justify-content: space-between;
    }

    .off {
        text-align: center;
    }


    #description article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }


    .productName {
        display: block;
    }

    #description {
        flex: 0 0 calc(50% - 1em);
    }

   


    .headerLogoSearch #searching{
        border-left: 1em;         
    }

    .headerLogoSearch{        
        padding-top: 20px;
        
          
    }

    .copy-header {
        max-width: none;
        font-size: 18px;        
    }





     #searching {
        width: 47%;
        padding-left: 10%;
        padding-top: 10px;
        text-align: center;
        /* display: block;
        margin: auto;   */  
    } 

    #searching div {
        margin-top:0.5em;
        margin-bottom: 2.5em;
        margin-left: 5em;       
    }
    

    /*    
    #searching input {
        width: 50%;
        font-size: 12px;       
        border: 1px solid #fff;
        border-radius: 5px;
            
    } */
    
    



    #searching .form button {
        background-color: #FFF;
        border: 1px solid #FFF;
        outline: none;
        color: #666;
        border-radius: 5px;
        padding: 8px 6px;
        cursor: pointer;
    }
    
    #searching .form .submit {
        background-color: #FFF;
        border: 1px solid #000;
        color: #666;
        width: 15%;
    }

    .main-navBar li {
        margin: 0 10px;
    }

    .main-navBar a {
        font-size: 17px;
    }

    

    



    #description article {
        flex: 0 0 calc(23% - 1em);
        padding: 10px;
        margin: 10px;
    }

    #final {
        display: flex;
        justify-content:center;
    }

    #copyR{
        background-color:#fcfcfc;
        padding:1em;
        
    }

    #final div {
        width: 30%;
    }

   #final h3 {
       margin-top: 1em;
   }

  

    #final i:hover{
        color:#EAC926;
        transition: 1s;
    }

}